/* Base HTML Styles */

:root {
	--1dark: #371722;
	--1light: #BBAB9B;
	--1comp2: #87ABCF;
	--1comp1: #90C690;
	--paperlight: #eeeeff;
	--paperdark: #ccccfd;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
    font-family: 'amsterdamthree_slant';
    src: url('../fonts/amsterdam-three-slant-webfont.woff2') format('woff2'), url('../fonts/amsterdam-three-slant-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--black);
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	text-decoration: none;
}

/* Global Styles*/ 

h1, h2, h3, h4, h5, h6, ol, a {
	color: var(--1light);
}

h1,h3 {
	font-family: 'amsterdamthree_slant', 'Brush Script MT', serif;
	font-size: 2rem;
	}

h2 {
	font-family: 'Source Code Pro', monospace;
	font-size: 1.2rem;
	font-weight: 900;
}

p, ul {
font-family: 'Source Code Pro', monospace;
font-size: 1rem;
color: var(--1dark);
}


/* This styles the heart divider area, except for image size and height (see @media) */
#siteheader {
	background-color: var(--1dark);
	background-repeat: no-repeat;
	background-size: 100% inherit;
	background-position: right 6px bottom 5px; 
	display: flex;
	justify-content: right;
	background-image: url("../img/heartdivider375_light.png");
	height: 70px;
	padding: 5px;
}

/* Style navigation menu */

#navMenu ul {
	display: flex;
	justify-content: end;
	align-items: center;
	height: 100%;
	color: var(--1light);
}

#navMenu li {
	padding: 0% 5%;
}

#navMenu a:hover {
	color: var(--1comp2);
	font-weight: bold;
}

/* Styling hamburger icon. Ran out of time to finish this */
/* .hamburger-icon {
	color: var(--1light);
	height: 60px;
}
#siteheader ul {
	display: none;
} */
/* Styles the hero section */
#hero {
	background-color: var(--1dark);
	padding: 0 10% 5%;
	text-align: center;
}

#hero img {
	background-color: var(--1light);
	border-radius: 50%;
	max-width: 60%;
	margin-bottom: 15px;
}

#hero .desktopImg {
	display: none;
}

/* Styles the intro section */
#intro {
	width: 90%;
	margin: 0 auto;
	padding: 5% 5% 14%;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: right 10% bottom 12%; 
	background-image: url("../img/heartdivider375_dark_flip.png");
	margin-bottom: 3%;
}

#intro p {
	text-align: center;
}

/* Styles the main section */

#main {
	background-color: var(--1dark);
	padding-top: 35px;
	padding-bottom: 40px;
	}

/* Styles the notebook */

.notebookPaper {
	width: 90%;
	margin: 0 auto;
	background-image: linear-gradient(170deg, var(--paperlight), #f1efec); 
	position: relative;
	box-shadow: 6px -10px 10px #000,
				10px 10px 10px #000;
	;
	border-radius: 0 1% 0 0;
}
/* Add dog-ear to bottom right corner of notebook if I have time */

.notebookInnerFrame {
	width: 100%;
	margin: 0;
	padding-top: 9%; /*needs adjusting for desktop*/
	padding-bottom: 10%;
	background-image: radial-gradient(#c6c5c5 1px, transparent 0);
	background-size: 22px 22px;
	position: relative;
}

.notebookSpiral {
	background-image: url(../img/binder-ring-2.png);
	background-size: 5%;
	background-repeat: space no-repeat;
	height: 100%;
	position: absolute;
	top: -16px;  /*needs adjusting for desktop*/
	width: 94%;
	margin: 0 3%;
}

.notebookInnerFrame h3 {
	color: var(--1dark);
	transform: skewy(-2deg);
	margin-left: 20%;
}

.notebookInnerFrame h3::after {
	content: "";
	display: block;
	height: 20px;
	width: 50%;
	margin-left: 20px;
	border-top: 3px solid var(--1dark);
	border-radius: 50%;
	transform: rotate(-3deg) translateY(-15px);
	background-image: url("../img/ink.png");
	background-repeat: no-repeat;
	background-position: 60% 80%;
}

#notebookContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10%;
}
/* Styling the post-it notes */
/* Inspired by https://codepen.io/jweden/pen/kGBBpM */

.postit {
	width: 250px;
	height: 240px;
	background-color: #fffaaa;
	border-radius: 0 0 0 30px/90px;
	box-shadow:  2px 2px rgb(0,0,0,0.2),
		inset 0 -20px 40px rgba(0,0,0,0.2),
		inset 0 15px 20px rgba(0,0,0,0.1); 
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
	font-family: 'Permanent Marker', 'Brush Script MT', cursive;
	font-size: 2rem;
	text-align: center;
	
}

.postit::before {
	content:"";
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 20px;
	height: 15px;
	background-color: inherit;
	box-shadow: 3px -2px 10px rgb(0,0,0,0.2),
		inset 15px -15px 15px rgb(0,0,0,0.2);
	transform: skewX(25deg);
}

.postit p {
	font-family: inherit;
	font-size: inherit;
	position: absolute;
	color: inherit;
	width: 80%;
}

.postit a {
	color: inherit;
}

.postit:hover {
	box-shadow: 0px 0px rgb(0,0,0,0),
	inset 0 -10px 30px rgba(0,0,0,0.2),
	inset 0 1px 2px rgba(0,0,0,0.1); 
	font-size: 1.9rem;
	cursor: pointer;
}

.comingsoon:hover {
	cursor: not-allowed;
	background-image: url("../img/ink-smudge.png");
	background-repeat: no-repeat;
	background-position-y: 32px;
}

.comingsoon:hover p {
	opacity: 0.3;
}

.item1 {
	/* margin-left: 5%; /*location of post-it note on the notepad*/
	/*margin-top: 5%; */
	transform: rotate(357deg);
	padding: 70px 0 0 24px; /*location of text on post it note*/
	color: var(--1comp1);
}

.item2 {
	/* margin-left: 20%; location of post-it note on the notepad */
	margin-top: 0;
	transform: rotate(5deg); 
	padding: 48px 0 0 16px; /*location of text on post it note*/
	color: var(--1comp1);
	border-radius: 0 0 30px/45px 0;
}

.item2::before {
	left: auto;
	right: 0;
	transform: scaleX(-1);
	box-shadow: 3px -2px 10px rgb(0,0,0,0.2),
	inset 15px -15px 15px rgb(0,0,0,0.2);
}

/* Instax photo styling */

.instax {
	position: relative;
	height: 324px;
	width: 264px;
	background-color: var(--1light);
	padding: 15px 15px 60px;
	margin: 24px 10px;
	box-shadow: 2px 2px 10px darkgrey;
	border: 1px solid darkgrey;
	transform: rotate(-5deg);
}

.instax::after {
	content: url("../img/tape.png");
	position: absolute;
	top: 0;
	right: 0;
	transform: rotate(15deg) translate(15px, -15px);
}


.instaxCaption {
	font-family: 'amsterdamthree_slant', 'Brush Script MT', cursive;
	margin-left: 30px;
	transform: skewY(-8deg);
}

/* Paper styling */

.paper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 8%; */
	margin-left: 10%;
	background: 
		linear-gradient(rgb(236,178,186,0),50%,var(--paperdark),51%,rgb(236,178,186,0)),
		linear-gradient(to right, rgb(236,178,186,0),50%,var(--paperdark),51%,rgb(236,178,186,0)),
		linear-gradient(to bottom right, var(--paperdark),20%,rgba(236, 178, 186, 0)),var(--paperlight);
	width: 220px;
	height: 120px;
	font-family: 'Permanent Marker', 'Brush Script MT', cursive;
	font-size: 2rem;
	color: var(--1dark);
	box-shadow: 1px 1px 2px var(--paperdark);

}

.paper::after {
	content: url("../img/tape.png");
	position: absolute;
	top: 0;
	transform: translateY(-15px);
}

.paper p {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

.paper a {
	color: inherit;
}

.paper:hover {
	box-shadow: inset 0 -5px 20px rgba(0,0,0,0.2);
	font-size: 1.9rem;
	cursor: pointer;
}

/* Find Me Section */

#findMe {
	width: 75%;
	margin: 5vh auto;
	padding-left: 70px;
	padding-bottom: 5%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-image: url("../img/heartdivider375_dark.png");
	background-repeat: no-repeat;
	background-position: bottom left;
 } 

#findMe p {
	text-align:right;
	font-size: 1.2rem;
	width: 100%;
}

#findMe .socials {
	display: flex;
	justify-content: space-evenly;
}

.socials a {
	margin: 10% 10% 0;
}

/* Badges Display */
/* 
#badgesSection {
	text-align: center;
	margin: 20px;
}

#badgesSection .badges {
	display: flex;
	flex-wrap: wrap;
}

.badges a {
	width: 25%;
}

#badgeSection, #findme h3 {
	font-size: 1.25rem;
}

/* Daily quote styling */
/* 
.dailyQuote h3 {
	font-size: 1rem;
	text-align: left;
	margin-left: 15%;
}


.dailyQuote p {
	font-family: 'Permanent Marker', 'Brush Script MT', cursive;
	width: 70%;
	margin: 0 auto;
	transform: rotate(-2deg);
	text-align: center;
	color: var(--1dark);
}  */


/* Footer styling */
 footer {
	background-color: var(--1dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1%;
 }

 footer p {
	color: var(--1light);
	font-size: 0.8rem;
 }

 footer a {
	font-size: 1rem;
 }

 footer a:hover {
	color: var(--1comp2);
 }

 .footer ul {
	display: flex;
	justify-content: end;
 }

 .footer li {
	padding: 2% 5%;
 }

/* Tablet and desktop view */
@media (min-width: 600px) {

	#main {
		padding-top: 60px;
	}

/* Remove heart graphic from nav area and change background layout */
	#siteheader {
		background: linear-gradient(
			to right,
			var(--1dark), 0%,
			var(--1dark),50%,
			var(--1light),50%,
			var(--1light));
		}

	#navMenu ul li a {
		color: var(--1dark);
		font-size: 1.2rem;
	}

	#navMenu li {
		padding: 0% 10%;
	}

	/*Layout of hero section for tablets*/

	#hero {
		background: linear-gradient(
			to right,
			rgb(0,0,0,0), 0%,
			rgb(0,0,0,0),50%,
			var(--1light),50%,
			var(--1light)), url("../img/heartdivider375_light.png"), linear-gradient(
			to right,
			var(--1dark), 0%,
			var(--1dark),50%,
			var(--1light),50%,
			var(--1light)); /*I have overlaid a second gradient as the top gradient to remove a shading from the heart image on the RHS*/
		background-repeat: no-repeat;
		background-position: 30% 95%;
		height: 350px;
		padding: 0 0 0 5%;
		position: relative;
		text-align: left;
	}
/* 
	#hero img {
		float: right;
		position: absolute;
		top: 12%;
		right: 12%;
		width: 200px;
		background-color: var(--1dark);
	} */

	#hero .mobileImg {
		display: none;
	}

	#hero .desktopImg {
		display: inline-block;
		/* float: right; */
		position: absolute;
		left: 75%;
		margin-left: -140px; 
		top: 50%;
		margin-top: -140px;
		/* right: 10%;
		top: 3%; */
		background-color: var(--1dark);
		width: 280px;
		transform: translateY(-6%);
	}

	#hero h1 {
		font-weight: normal;
		padding-top: 10%;
	}

	#hero h2 {
		width: 40vw;
		padding-top: 2%;
		/* padding-right: 20%; */
		font-size: 1.3rem;
		font-weight: 400;
	}

/* Sizing of the notebook */
	.notebookPaper {
		width: 75%;
	}

/*Change layout of items on notebook to two per row*/
	#notebookContent {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
		padding-top: 10%;
	}
	
}


/*Desktop view*/
@media (min-width: 768px) {

	#navMenu li {
		padding: 0% 15%;
	}
	
	/*only background-position and the image file differ from the tablet view, but had to reproduce all the background attributes or the other attributes aren't applied*/
	#hero {
	background-position: 30% 98%;
	background: linear-gradient(
			to right,
			rgb(0,0,0,0), 0%,
			rgb(0,0,0,0),50%,
			var(--1light),50%,
			var(--1light)), url("../img/heartdivider600_light.png"), linear-gradient(
			to right,
			var(--1dark), 0%,
			var(--1dark),50%,
			var(--1light),50%,
			var(--1light));
			background-repeat: no-repeat;
			background-position: 30% 95%;
			height: 350px;
			padding: 0 0 0 5%;
			position: relative;
			text-align: left;
	}

	
	/* #hero img {
		width: 300px;
		top: 0;
		right: 13%;
	} */

	#hero .desktopImg {
		left: 75%;
		margin-left: -150px; 
		top: 50%;
		margin-top: -150px;
		width: 300px;
		transform: translateY(-6%);
	}

	#hero h1 {
		font-weight: normal;
		padding-top: 1%;
		font-size: 3rem;
	}
	
	#hero h2 {
		width: 40vw;
		padding-top: 2%;
		/* padding-right: 20%; */
		font-size: 1.5rem;
		font-weight: 400;
	}
	
	#intro {
		padding-top: 3%;
		padding-bottom: 8%;
	}
	#intro p {
		font-size: 1.5rem;
	}

	.notebookPaper {
		width: 60%;
	}
}

/* Image fix for super wide screens */
@media (min-width: 900px) {
	#hero img {
		right: 15%;
	}
}